{% extends 'frontend/index.html' %}


{% block content %}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχική Σελίδα</a></li>
                <li class="breadcrumb-item active" aria-current="page">Πληροφορίες Επιχείρησης</li>
            </ol>
        </div><!-- End .container -->
    </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Πληροφοριες Επιχειρησης</h4>
                            </div>
                            <div class="card-body">
                                Η επιχείρηση  έχει την έδρα της στο Μολάους από το 2020, εμπορευόμενη μόνο δερμάτινα υποδήματα υψηλής ποιότητας.
                                Τα προϊόντα είναι Ευρωπαϊκής και Αμερικάνικης Προελεύσεως, κυρίως από χώρες όπως η Ιταλία, η Ισπανία,
                                η Αγγλία, η Αργεντινή και οι Ηνωμένες Πολιτείες Αμερικής, γνωστές για την πρωτοπορία και την ποιότητά τους στην υποδηματοποιία,
                                στηρίζοντας παράλληλα και Ελληνικές εταιρείες υποδημάτων.
                                Η εταιρεία , έχοντας ως κύριο χαρακτηριστικό της όλα τα χρόνια λειτουργίας της, την ποιότητα των προϊόντων και των υπηρεσιών που προσφέρει,
                                Αποφάσισε να εξυπηρετήσει τις προτιμήσεις καταναλωτών από όλη την Ελλάδα, την Κύπρο και το εξωτερικό, μέσα από το νέο διαδικτυακό κατάστημά της.
                                Σε αυτό, έχει συγκεντρωθεί το μέγιστο των εταιρειών που συνεργάζεται, από τα 6 καταστήματά της, προσφέροντας επιλογές σε γυναικεία και αντρικά υποδήματα,
                                καθώς και σε άλλα είδη, όπως δερμάτινες τσάντες και ζώνες. Τα τελευταία χρόνια έγινε επίσης και η π
                                Σας καλωσορίζουμε λοιπόν, στο ηλεκτρονικό μας κατάστημα!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </main>

{% endblock %}