{% extends 'frontend/index.html' %}


{% block content %}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχική Σελίδα</a></li>
                <li class="breadcrumb-item active" aria-current="page">Πληροφορίες Επιχείρησης</li>
            </ol>
        </div><!-- End .container -->
    </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Πληροφοριες Επιχειρησης</h4>
                            </div>
                            <div class="card-body">
                                Η επιχείρηση  έχει την έδρα της στο Μολάους Λακωνίας, εμπορευόμενη μόνο προϊόντα από τους πιο γνωστούς οίκους οπτικών.
                                Η εταιρεία , έχοντας ως κύριο χαρακτηριστικό της όλα τα χρόνια λειτουργίας της, την ποιότητα των προϊόντων και των υπηρεσιών που προσφέρει,
                                Αποφάσισε να εξυπηρετήσει τις προτιμήσεις καταναλωτών από όλη την Ελλάδα μέσα από του νέου διαδικτυακου κατάστημά της.
                                Σας καλωσορίζουμε λοιπόν, στο ηλεκτρονικό μας κατάστημα!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </main>

{% endblock %}