{% extends 'frontend/index.html' %}


{% block seo_data %}
    <title>Οπτικα - Κοτσαλης | Τρόποι Πληρωμης</title>
    <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας, optika kotsalis. Εδώ θα βρείτε μεγάλη ποικιλία απο γυαλιά ηλιού και οράσεως.">
 {% endblock %}


{% block content %}


    <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Τροποι Πληρωμής</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Τροποι Πληρωμής</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Τρόποι Αποστολής</h4>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->

    <!--Testimonial start-->
<section class="testimonial small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="slide-2 testimonial-slider no-arrow">
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Πληρωμή στο Καταστημά μας</h5>
                                <h6>Δωρεάν Κόστος</h6>
                            </div>
                            <div class="media-body">
                                <p>Μπορειτε να πληρωσετε κατα την παραλαβή των προϊόντων με δωρεάν κόστος και με μετρητά ή κάρτα.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Πληρωμή με αντικαταβολή</h5>
                                <h6>Κόστος εώς 5 ευρώ</h6>
                            </div>
                            <div class="media-body">
                                <p>Η πληρωμή γίνετε στο courrier που συνεργαζόμαστε κατά την παραλαβή των προϊόντων </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-sm-12">
                <div class="slide testimonial-slider no-arrow">
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Πληρωμή Μέσω Τραπέζης</h5>
                                <h6>Δωρεάν Κόστος</h6>
                            </div>
                            <div class="media-body">
                                <p>Εθνική Τράπεζα --></p>
                                <p>Τράπεζα Πειραιώς --></p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial ends-->









{% endblock %}