{% extends 'frontend/index.html' %}

{% block seo_data %}
    <title>Οπτικα - Κοτσαλης | Πολιτική Επιστροφών</title>
    <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας, optika kotsalis. Εδώ θα βρείτε μεγάλη ποικιλία απο γυαλιά ηλιού και οράσεως.">
 {% endblock %}



{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Πολιτική Επιστροφών</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Πολιτική Επιστροφών</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    </div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>ΕΠΙΣΤΡΟΦΗ</h6>
                                <p>
                                    Έχετε το δικαίωμα να επιστρέψετε ολόκληρη την παραγγελία ή μέρος αυτής χωρίς να υποχρεούστε να μας ανακοινώσετε το λόγο για τον οποίο επιθυμείτε την επιστροφή των προϊόντων,
                                    εντός προθεσμίας 14 ημερολογιακών ημερών από την ημερομηνία που την παραλάβετε. Στην περίπτωση αυτή σας επιβαρύνει μόνο το άμεσο κόστος επιστροφής των προϊόντων.
                                    Στην περίπτωση που ο λόγος της επιστροφής σας αφορά σε λάθος της εταιρείας δεσμευόμαστε να αναλάβουμε το κόστος επιστροφής του προϊόντος,
                                    υπό την προϋπόθεση πως η επιστροφή έχει γίνει με την μεταφορική εταιρεία Speedex. Σε περίπτωση που θέλετε να μας επιστρέψετε τα προϊόντα που αγοράσατε,
                                    η διεύθυνση στην οποία πρέπει να σταλούν τα προϊόντα προς επιστροφή είναι: Κατάστημα Οπτικά Κότσαλης Πέτρου Μολάοι, Δήμου Μονεμβασίας ΤΚ 23052
                                    Τα Οπτικά Κότσαλης θέλοντας να σας προσφέρει την καλύτερη δυνατή εξυπηρέτηση σας δίνει το δικαίωμα να υποβάλετε οποιοδήποτε παράπονό σας ηλεκτρονικά στη διεύθυνση eshop@intersport.gr.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> ΑΝΤΙΚΑΤΑΣΤΑΣΗ / ΑΛΛΑΓΗ</h6>
                                <p>Η εταιρεία υποχρεούται να παρέχει το δικαίωμα αντικατάστασης σε περίπτωση που το προϊόν θεωρείται ελαττωματικό.
                                    Σε περίπτωση που ο καταναλωτής θέλει να αλλάξει το εκάστοτε προϊόν, υποχρεούται να ακολουθήσει έναν από τους παρακάτω τρόπους:
                                    1.2.1 Να προβεί στην επιστροφή του στην εταιρεία με μεταφορική εταιρεία (κούριερ) και στην πραγματοποίηση νέας παραγγελίας.
                                    Στην περίπτωση αυτή, το κόστος επιστροφής βαρύνει τον καταναλωτή. 1.2.2 Να προβεί στην αλλαγή του σε οποιοδήποτε κατάστημα της εταιρείας στην Ελλάδα, χωρίς καμία επιβάρυνση.
                                    Εάν ο λόγος επιστροφής αφορά σε λάθος της εταιρείας το κόστος επιστροφής βαρύνει την τελευταία. Μετά την επιστροφή του προϊόντος,
                                    ο πελάτης αποζημιώνεται σε όλο το ποσό με αντίστοιχη κατάθεση στον τραπεζικό του λογαριασμό, τον οποίο έχει συμπληρώσει στο έντυπο επιστροφής που απαραίτητα συνοδεύει το επιστραφέν εμπόρευμα..</p>

                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> ΕΛΑΤΤΩΜΑΤΙΚΑ ΠΡΟΪΟΝΤΑ</h6>
                                <p>
                                    Εκτός από τα παραπάνω δικαιώματα, ο αγοραστής, σε περίπτωση προϊόντος που έχει ελάττωμα ή
                                    έλλειψη συμφωνημένης ιδιότητας, έχει και όλα τα δικαιώματα από τις υπάρχουσες διατάξεις και νόμους σχετικά με τη σύμβαση πώλησης και προστασίας του καταναλωτή.
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
    <br> <br>




{% endblock %}