{% extends 'frontend/index.html' %} {% load static %}

{% block seo_data %}
    <title>Οπτικα - Κοτσαλης | Brands</title>
    <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας. Εδώ θα βρείτε όλα μας τα brands.">
{% endblock seo_data %}

{% block content %}
    <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>404 page</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">404 page</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a href="{% url 'homepage' %}" class="btn btn-solid">Επιστροφή στην Αρχική Σελίδα</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock %}
