{% extends 'frontend_eng/index.html' %}

{% block content %}


    <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Payment Types</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'eng:homepage' %}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment Types</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Details</h4>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->

    <!--Testimonial start-->
<section class="testimonial small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="slide-2 testimonial-slider no-arrow">
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>You can pay direct our store</h5>
                                <h6>No cost</h6>
                            </div>
                            <div class="media-body">
                                <p>You can pay direct to our store with cash or card, when you pickup your order.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Pay with Cash</h5>
                                <h6>No Cost</h6>
                            </div>
                            <div class="media-body">
                                <p>The payment is done when you pickup the products from the courier</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-sm-12">
                <div class="slide testimonial-slider no-arrow">
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Pay via Bank</h5>
                                <h6>No Cost</h6>
                            </div>
                            <div class="media-body">
                                <p>Ethniki Trapeza--> &nbsp;&nbsp;&nbsp;&nbsp; GR 0501104180000041893101182</p>
                                <p>Trapeza Peiraios --> GR 5401405650565002101028488</p>
                                <p>Alpha Bank --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GR 3001713410006341128057491</p>
                                <p>Account Name -->  Κότσαλης Δημήτρης</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <div class="text-center">
                                <h5>Pay via Paypal</h5>
                                <h6>No Cost</h6>
                            </div>
                            <div class="media-body">
                                <p>You can use your account for pay the orders.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial ends-->









{% endblock %}