{% extends 'frontend/index.html' %}

 {% block seo_data %}
        <title>Οπτικα - Κοτσαλης | Προσωπικά Δεδομένα</title>
        <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας, optika kotsalis. Εδώ θα βρείτε μεγάλη ποικιλία απο γυαλιά ηλιού και οράσεως.">
    {% endblock %}
{% block content %}
     <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Προσωπικά Δεδομένα</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Προσωπικά Δεδομένα</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Cookies </h6>
                                <p>
                                  We use cookies on our websites for a variety of reasons which you can learn about below.
                                    The cookies we use do not store personally identifiable information nor can they harm your computer.
                                    We want our website to be informative, personal, and as user friendly as possible and cookies help us to achieve that goal.
                                    By using our website, you agree to the use of cookies and other technologies as set out in this policy.
                                    We appreciate some users may like more individual control over their visit to our website and can adjust their settings accordingly.
                                    You can read all about this in the section below "How to control and delete cookies".
                                    If you do not agree to such use, please refrain from using the website.
                                    <br>
                                    What are Cookies?
                                    <br>
                                    A cookie is a small file and holds a certain amount of data, which our website can send to your browser.
                                    It may then be stored on your computer's hard drive and can be accessed by our web server.
                                    This cookie data can then be retrieved and can allow us to customise our web pages and services accordingly.
                                    It is important to clarify that cookies do not collect any personal data stored on your hard drive or computer.
                                    <br>
                                    Statistic Cookies:
                                    <br>
                                    Statistics cookies collect information about the behavior of your site navigation, such as which pages are frequently visited, and if you receive error messages.
                                    Through this we are able to make the structure, navigation and content of the site as user-friendly as possible.
                                    We may use software, such as Google Analytics, to analyze the use of pages,
                                    the interactions of the pages and the paths followed through our sites. These are known as 'website metrics' or 'analytics'.
                                    Google Analytics is an online analytics service offered by Google Inc. (Google). Google Analytics uses cookies to analyze
                                    the use of the site by users. Google uses aggregated statistics to give the Company an insight into how
                                    that users use the Website. Failure to accept these cookies will not affect the functionality of the site or restrict your access to its content,
                                    however, they give us valuable information that enables us to improve the Website, the products and services we offer.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Editor </h6>
                                <p>
                                    Responsible for the processing of your data is Dimitris Kotsalis, who is the principal and beneficiary of the use of this website.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Definition of Personal Data and their Processing </h6>
                                <p>
                                    Personal data is information such as full name, postal address, email address,
                                    contact telephone, etc., which identify or can combine with other information to identify
                                    the identity of a natural person, visitor / user of the Website or Facebook Page.
                                    The processing of personal data is the collection, registration, organization, storage, customization, modification, retrieval,
                                    information search, use, transmission to third parties, dissemination, association, combination, restriction, deletion and
                                    destruction of personal data of individuals. Processing includes every act, e.g.
                                    carried out by the Processor on the personal data of users of the Site or Page.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Collection of Your Personal Data</h6>
                                <p>
                                    We primarily collect your information directly from you, when you sign up for services or when contacting us.
                                    In addition, we collect your personal data passively through tracking tools such as cookies and beacons.
                                    Finally, we also collect data from third parties, such as social media platforms [Facebook, Instagram].
                                    The ways to collect your data are illustrated in the following steps:
                                    <br>
                                    - When you visit and navigate the Site, your data is only collected from cookies that you have allowed
                                    with your consent to use them
                                    <br>
                                    - To contact us, please fill in the contact form, the full name
                                    and your email address, which we collect with your comment to reply to.
                                    <br>
                                    - If you participate in one of our competitions,
                                    we will collect and store some of your personal data that is necessary for the purposes of this
                                    the competition and the award of the prizes to the winners (eg full name, email, telephone, AMKA).
                                    <br>
                                    - The Website uses external traffic logging services,
                                    such as Google Analytics. Google Analytics provides us with anonymous data to determine
                                    the number of people using our Website to better understand it
                                    how they find and use our websites and to see their way through the Website.

                                    Although Google Analytics uses cookies to record data, such as your location, your device,
                                    your web browser and operating system, none of this information
                                    it is not connected to your face and does not identify you. We note that Google is a third party data processor.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock %}