{% extends 'frontend_eng/index.html' %}


{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Return Policy</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'eng:homepage' %}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Return Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    </div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Return</h6>
                                <p>
                                    You have the right to return the entire order or part of it without having to tell us the reason for your return,
                                    within 14 calendar days of receipt. In this case you will only be charged the immediate cost of returning the product.
                                    In the event that the reason for your return is due to a mistake by the company we commit to bear the cost of returning the product,
                                    provided the refund is made with the ACS carrier and we charge our own.
                                    The return address is: Kotsalis Optics Store, Epidavros Limiras 36 Molai, Monemvasia Municipality 23052
                                    Kotsalis Opticians wishing to offer you the best possible service recommend that you let us know at 2732022566 for your best service.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>REPLACEMENT / CHANGE</h6>
                                <p>
                                    Our company is obliged to provide the right to refund if the product is considered defective.
                                    The consumer has no right to change the product with any other product from our site. We only support refunds.
                                </p>

                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>DEFECTIVE PRODUCTS</h6>
                                <p>
                                    In addition to the above rights, the buyer, in case of defective product or
                                    lack of an agreed status, and has all the rights under existing provisions and
                                    laws on the contract of sale and consumer protection.
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
    <br> <br>




{% endblock %}