{% extends 'frontend_eng/index.html' %}


{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Return Policy</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'eng:homepage' %}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Return Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    </div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Return</h6>
                                <p>
                                    Έχετε το δικαίωμα να επιστρέψετε ολόκληρη την παραγγελία ή μέρος αυτής χωρίς να υποχρεούστε να μας ανακοινώσετε το λόγο για τον οποίο επιθυμείτε την επιστροφή των προϊόντων,
                                    εντός προθεσμίας 14 ημερολογιακών ημερών από την ημερομηνία που την παραλάβετε. Στην περίπτωση αυτή σας επιβαρύνει μόνο το άμεσο κόστος επιστροφής των προϊόντων.
                                    Στην περίπτωση που ο λόγος της επιστροφής σας αφορά σε λάθος της εταιρείας δεσμευόμαστε να αναλάβουμε το κόστος επιστροφής του προϊόντος,
                                    υπό την προϋπόθεση πως η επιστροφή έχει γίνει με την μεταφορική εταιρεία ACS και χρέωση δική μας. Σε περίπτωση που θέλετε να μας επιστρέψετε τα προϊόντα που αγοράσατε
                                    για οποιοδηποτε άλλο λόγο, μπορείτε να το επιστρέψετε με δικά σας έξοδα στην  διεύθυνση επιστροφής: Κατάστημα Οπτικά Κότσαλης, Επιδαύρου Λιμηράς 36 Μολάοι, Δήμου Μονεμβασίας ΤΚ 23052
                                    Τα Οπτικά Κότσαλης θέλοντας να σας προσφέρουν την καλύτερη δυνατή εξυπηρέτηση σας συνιστούν να μας ενημερώσετε στο τηλέφωνο 2732022566 για καλύτερη εξυπηρέτηση σας.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> ΑΝΤΙΚΑΤΑΣΤΑΣΗ / ΑΛΛΑΓΗ</h6>
                                <p>Η εταιρεία  μας υποχρεούται να παρέχει το δικαίωμα επιστροφής χρήμάτων σε περίπτωση που το προϊόν θεωρείται ελαττωματικό.
                                    Ο καταναλωτής δε έχει το δικαιώμα  να αλλάξει το προϊόν με οποιοδήποτε άλλο προϊόν από το site μας. Υποστηρίζουμε μόνο την επιστροφή χρημάτων.
                                </p>

                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> ΕΛΑΤΤΩΜΑΤΙΚΑ ΠΡΟΪΟΝΤΑ</h6>
                                <p>
                                    Εκτός από τα παραπάνω δικαιώματα, ο αγοραστής, σε περίπτωση προϊόντος που έχει ελάττωμα ή
                                    έλλειψη συμφωνημένης ιδιότητας, έχει και όλα τα δικαιώματα από τις υπάρχουσες διατάξεις και νόμους σχετικά με τη σύμβαση πώλησης και προστασίας του καταναλωτή.
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
    <br> <br>




{% endblock %}