<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block seo_data %}
        <title>Οπτικα - Κοτσαλης | Αρχική Σελίδα</title>
        <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας, optika kotsalis. Εδώ θα βρείτε μεγάλη ποικιλία απο γυαλιά ηλιού και οράσεως.">
    {% endblock %}
    <meta name="keywords" content="Οπτικά, Μολαοι, Λακωνια, Rayban, γυαλιά ηλιόυ, οράσεως, Κότσαλης, Μονεμβάσια">
    {% include 'frontend/include/head.html' %}
</head>

<body style="background-color:#eeeeee;">
{% include 'frontend/include/third-party-code.html' %}

{% include 'frontend/include/navbar.html' %}

{% block content %}

<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        {% for banner in big_banners %}
            <div>
                <div class="home text-center">
                    <img src="{{ banner.image.url }}" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<!-- Home slider end -->

        <!-- Product slider -->
    <section style="margin-top: 3%" class="ratio_square section-b-space">
    <div class="container">
        <div class="title3">
            <h4>Δείτε τα</h4>
            <h2 class="title-inner3">Προτεινομενα προϊοντα μας</h2>
            <div class="owl-buttons"><div class="fa fa-arrow-left">/</div><div class="fa fa-arrow-right"></div></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    {% for product in featured_products %}
                        {% include 'frontend/parts/product_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Product slider end -->



<!-- collection banner -->
<section style="background-color:white;"  class="banner-padding banner-furniture ratio2_1">
    <div class="container-fluid">
        <div class="row partition3">
            {% for banner in small_banners %}
                {% if forloop.counter < 3 %}
                <div class="col-md-6">
                    <a href="#">
                    <div class="collection-banner p-left text-left">
                        <div class="img-part">
                            <img src="{{ banner.image.url }}" alt="" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner">
                            <div>
                                {{ forloop.counter }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- collection banner end -->




<!-- collection banner -->
<section style="background-color:white;"  class="banner-padding banner-furniture ratio2_1">
    <div class="container-fluid">
        <div class="row partition3">
            {% for banner in small_banners %}
                {% if forloop.counter > 2 %}
                    <div class="col-md-6">
                    <a {% if banner.url %} href="{{ banner.url }}" {% else %}href="" {% endif %}>
                    <div class="collection-banner p-left text-left">
                        <div class="img-part">
                            <img src="{{ banner.image.url }}" alt="" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner">
                            <div>

                            </div>
                        </div>
                    </div>
                </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- collection banner end -->



  <!-- Tab product -->
    <div class="title1 section-t-space">
        <h4>Δείτε επίσης</h4>
        <h2 class="title-inner1">Τις προοσφορες και τα νεα μας προϊοντα</h2>
    </div>
    <section class="ratio_square section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ul class="tabs tab-title">
                        <li class="current"><a href="tab-4">Νεα Προϊοντα</a></li>
                        <li class=""><a href="tab-6">Οι προσφορες μας</a></li>
                    </ul>
                    <div class="tab-content-cls">

                        <div id="tab-4" class="tab-content active default">
                            <div class="no-slider row">
                                {% for product in new_products %}
                                    {% include 'frontend/parts/product_card.html' %}
                                {% endfor %}
                            </div>
                        </div>

                        <div id="tab-6" class="tab-content">
                            <div class="no-slider row">
                                {% for product in offers %}
                                    {% include 'frontend/parts/product_card.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tab product end -->




<!-- Parallax banner
<section class="p-0">
    <div class="full-banner parallax text-center p-left">
        <img src="{% static 'frontend/demo_images/little banner.jpg' %}" alt="" class="bg-img blur-up lazyload">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
Parallax banner end -->




<!-- instagram section -->
<section style="background-color:white;" class="instagram ratio_square">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <h2 class="title-borderless"># instagram</h2>
                <div class="slide-7 no-arrow slick-instagram">
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box">
                                <img alt="" src="{% static 'frontend/demo_images/insta_1.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta7.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_2.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_3.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_4.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_5.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_6.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_1.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">
                            <div class="instagram-box"><img alt="" src="{% static 'frontend/demo_images/insta_1.jpg' %}" class="bg-img" style="width:100%">
                                <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
</section>
<!-- instagram section end -->

{% endblock %}

{% include 'frontend/include/footer.html' %}


<!--modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal12">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="offer-content">
                                    <img src="{% static 'frontend/assets/images/Offer-banner.png' %}" class="img-fluid blur-up lazyload" alt="">
                                    <h2>newsletter</h2>
                                    <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                        <div class="form-group mx-sm-3">
                                            <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required="required">
                                            <button type="submit" class="btn btn-solid" id="mc-submit">subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal popup end-->

<div id="modal_area">
    {% include 'frontend/parts/message_modal.html' %}
    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="login_modal">Γρηγορη Συνδεση</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-single-container product-single-default">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>Συνδεθείτε</h5>
                                            <form class="form" method="post" action="{% url 'fast_login' %}">
                                                {% csrf_token %}
                                                {{ login_form}}
                                                <br>
                                                <button class="btn btn-success btn-solid">Συνδεση</button>
                                                <br> <br>
                                                <p>Η δημιουργήστε λογαριασμο <a href="{% url 'register_view' %}">εδώ</a> </p>
                                            </form>
                                            <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">Συνδεση μεσω facebook</a>
                                        </div><!-- End .col-lg-7 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-single-container -->
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Κλεισιμο</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




<!-- tap to top start -->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->
{% include 'frontend/include/js.html' %}
{% block extra_js %} {% endblock %}

</body>

</html>