{% extends 'frontend/index.html' %} {% load static %} {% load zefarak_tags %}

{% block extra_css %}
<!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
    <style>
        .form-check-label{
            padding-left: 5px;
        }
    </style>
{% endblock %}

{% block seo_data %}
    <title>Οπτικα - Κοτσαλης | {{ page_title }}</title>
    <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2></div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_title }} <br>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- section start -->
<section class="ratio_square section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a href="#">
                                        {% if offer %}
                                             <img src="{% static 'frontend/my_assets/special_ofer.jpg' %}" class="img-fluid blur-up lazyload" alt="">
                                        {% elif new_products %}
                                            <img src="{% static 'frontend/my_assets/new_product_view.jpg' %}" class="img-fluid blur-up lazyload" alt="">
                                        {% else %}
                                        {% endif %}
                                    </a>
                                    <div class="top-banner-content small-section">
                                        <h4>{{ page_title }}</h4>

                                    </div>
                                </div>
                                <div class="collection-product-wrapper">
                                    <div class="product-top-filter">
                                        <form method='get'>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="popup-filter">
                                                    <div class="sidebar-popup"><a class="popup-btn">Φίλτρα</a></div>
                                                    <div class="open-popup">
                                                        <div class="collection-filter">
                                                            <!-- side-bar colleps block stat -->
                                                            <div class="collection-filter-block">
                                                                <!-- brand filter start -->
                                                                <div class="collection-mobile-back">
                                                                    <span class="filter-back">
                                                                        <i class="fa fa-angle-left" aria-hidden="true">
                                                                        </i> Επιστροφή
                                                                    </span>
                                                                </div>

                                                                <div class="collection-collapse-block">
                                                                    <a class="btn btn-warning" href="{{ request.path }}">Καθαρισμος</a>
                                                                    <h3 class="collapse-block-title">Κατηγοριες</h3>
                                                                    <div class="collection-collapse-block-content">
                                                                        <div class="collection-brand-filter scrollable_div">
                                                                            {% for category in categories %}
                                                                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                                                    <input value="{{ category.slug }}" name='cate_name' type="checkbox" class="custom-control-input" id="cate_{{ category.id }}"
                                                                                    {% if category.slug|stringformat:"s" in request.GET|get_item:'cate_name' %} checked {% endif %}
                                                                                    >
                                                                                    <label class="custom-control-label" for="cate_{{ category.id }}">{{ category }}</label>
                                                                                </div>
                                                                                {% empty %}
                                                                                <p>Δε υπάρχουν διαθεσιμες Κατηγορίες</p>
                                                                            {% endfor %}
                                                                        </div>
                                                                         <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                                                                    </div>
                                                                </div>

                                                                <div class="collection-collapse-block">
                                                                    <h3 class="collapse-block-title">brand</h3>
                                                                    <div class="collection-collapse-block-content">
                                                                        <div class="collection-brand-filter scrollable_div">
                                                                            {% for brand in brands %}
                                                                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                                                    <input name="brand_name" value="{{ brand.slug }}"  type="checkbox" class="custom-control-input" id="brand_{{ brand.id}}"
                                                                                    {% if brand.slug|stringformat:"s" in request.GET|get_item:'brand_name' %} checked {% endif %}
                                                                                    >
                                                                                    <label class="custom-control-label" for="brand_{{ brand.id }}">{{ brand }}</label>
                                                                                </div>
                                                                                {% empty %}
                                                                                <p>Δε υπάρχουν διαθεσιμες Brands</p>
                                                                            {% endfor %}
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                                                                    </div>
                                                                </div>
                                                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                                    <input onclick="this.form.submit()" name="offer_name" value="1"  type="checkbox" class="custom-control-input" id="offer_name"
                                                                        {% if request.GET.offer_name == '1'  %} checked {% endif %}>
                                                                        <label class="custom-control-label" for="offer_name">Σε προσφορα</label>
                                                                </div>
                                                                <br>
                                                                <div class="custom-control">
                                                                    <input id="demo_2" type="text" name="price_name" value="" class="irs-hidden-input" tabindex="-1" readonly="" hidden>
                                                                </div>
                                                                <div class="collection-collapse-block">
                                                                    <h3 class="collapse-block-title">Χρωμα</h3>
                                                                    <div class="collection-collapse-block-content">
                                                                        <div class="collection-brand-filter scrollable_div">
                                                                            {% for color in colors %}
                                                                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                                                    <input name="color_name" value="{{ color.title }}"  type="checkbox" class="custom-control-input" id="color_{{ color.id}}"
                                                                                    {% if color.title|stringformat:"s" in request.GET|get_item:'color_name' %} checked {% endif %}
                                                                                    >
                                                                                    <label class="custom-control-label" for="color_{{ color.id }}">{{ color }}</label>
                                                                                </div>
                                                                                {% empty %}
                                                                                <p>Δε υπάρχουν διαθεσιμα Χρωματα</p>
                                                                            {% endfor %}
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                                                                    </div>
                                                                </div>
                                                                <!-- price filter start here -->
                                                                {% for characteristic in chars_filters %}
                                                                    <div class="collection-collapse-block">
                                                                        <h3 class="collapse-block-title">{{ characteristic.0 }}</h3>
                                                                        <div class="collection-collapse-block-content">
                                                                            <div class="collection-brand-filter scrollable_div">
                                                                                {% for char in characteristic.1 %}
                                                                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                                                        <input name="char_name" value="{{ char.0 }}"  type="checkbox" class="custom-control-input" id="char_{{ char.0}}"
                                                                                        {% if char.0|stringformat:"s" in request.GET|get_item:'char_name' %} checked {% endif %}
                                                                                        >
                                                                                        <label class="custom-control-label" for="char_{{ char.0 }}">{{ char.1 }}</label>
                                                                                    </div>
                                                                                    {% empty %}
                                                                                    <p>Δε υπάρχουν διαθεσιμες {{ characteristic }} αξίες</p>
                                                                                {% endfor %}
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- silde-bar colleps block end here -->
                                                        </div>
                                                    </div>
                                                    <div class="collection-view">

                                                    </div>
                                                    <div class="collection-grid-view">

                                                    </div>-
                                                    <div class="product-page-per-view">

                                                    </div>
                                                    <div class="product-page-filter">
                                                         <select onchange="this.form.submit()" name="order_by">
                                                            {% if request.get.order_by %}

                                                            {% else %}
                                                                <option value="menu_order" selected="selected">Προεπιλογή</option>
                                                            {% endif %}
                                                            <option value="final_price" {% if request.get.order_by == 'final_price' %} selected="selected"  {% endif %}>Αυξουσα Τιμή</option>
                                                            <option value="-final_price" {% if request.get.order_by == '-final_price' %} selected="selected"  {% endif %}>Φθίνουσα Τιμή</option>
                                                            <option value="title" {% if request.get.order_by == 'title' %} selected="selected"  {% endif %}>Αλφαβιτική Σειρά Α->Ω</option>
                                                            <option value="-title" {% if request.get.order_by == '-title' %} selected="selected"  {% endif %}>Αλφαβιτική Σειρά Ω->Α</option>
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product-wrapper-grid">
                                        <div class="row infinite-container">
                                            {% for product in object_list %}
                                            <div class="col-xl-3 col-md-6 col-grid-box infinite-item">
                                                {% include 'frontend/parts/product_card.html' %}
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <div style='display: none' class="loading" style="display: none;">Loading...
                                        {% if page_obj.has_next %}
                                            <a class="infinite-more-link" href="{{ infinite_next_point }}&page={{ page_obj.next_page_number }}">More</a>
                                        {% endif %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->


{% endblock %}

{% block extra_js %}
    <!--Plugin JavaScript file-->
    <script src="{% static 'frontend/ion.rangeSlider.min.js' %}"></script>
    <script>
       $("#demo_2").ionRangeSlider({
        type: "double",
        grid: true,
        min: {{ low }},
        max: {{ max }},
        from: {{ low_selected }},
        to: {{ max_selected }},
        prefix: "€"
    });
    </script>

    <script src="{% static 'frontend/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'frontend/waypoints/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
                },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
                $('.add_product_modal').on('click',function (evt) {
                    evt.preventDefault();
                    $('#modal_area').empty();
                    const my_btn = $(this);
                    const url = my_btn.attr('data-href');
                    $.ajax({
                        method: 'GET',
                        dataType: 'json',
                        url: url,

                        success: function (data) {
                            $('#modal_area').html(data.add_modal);
                            $('#quick-view').modal('show');

                        }
                    })
                })
            }
        });
    </script>
{% endblock %}



