<table class="table table-bordered">
    <thead>
    <tr>
        <th>Sku</th>
        <th>Προϊόν</th>
        <th>Brand</th>
        <th>Επεξεργασία</th>
    </tr>
    </thead>
    <tbody>
    {% for product in object.products.all %}
        <tr>
            <td>{{ product.sku }}</td>
            <td>{{ product.title|truncatechars:25 }}</td>
            <td>{{ product.brand }}</td>
            <td>
                <button data-href="{% url 'size_chart:ajax_modify_manager' object.id product.id 'delete' %}"
                        class="btn btn-danger modify_button"><i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">Δε υπάρχουν δεδομένα</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('.modify_button').click(function(evt){
        const my_btn = $(this);
        const url = my_btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,

            success: function(data){
                $('#result_container').html(data.result)
            }
        })
    })
</script>