{% extends 'frontend/index.html' %}

{% block content %}
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Καλάθι</li>
                </ol>
            </div><!-- End .container -->
        </nav>
         <div class="container">
             <div class="row">
                 <h4>Κάτι πήγε λάθος, παρακαλώ δοκιμάστε πάλι ή χρησιμοποιήστε διαφορετικό τρόπο πληρωμής </h4>
                 <br>
                 <a href="{% url 'checkout_view' %}" class="btn btn-info">Επιστροφη στο checkout</a>
             </div>
         </div>
     </main>

{% endblock %}