{% load static %}

<!-- latest jquery-->
<script src="{% static 'frontend/assets/js/jquery-3.3.1.min.js' %}"></script>

<!-- menu js-->
<script src="{% static 'frontend/assets/js/menu.js' %}"></script>

<!-- lazyload js-->
<script src="{% static 'frontend/assets/js/lazysizes.min.js' %}"></script>

<!-- popper js-->
<script src="{% static 'frontend/assets/js/popper.min.js' %}"></script>

<!-- slick js-->
<script src="{% static 'frontend/assets/js/slick.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'frontend/assets/js/bootstrap.js' %}"></script>

<!-- Bootstrap Notification js-->
<script src="{% static 'frontend/assets/js/bootstrap-notify.min.js' %}"></script>

<!-- Theme js-->
<script src="{% static 'frontend/assets/js/script.js' %}"></script>

<script>


    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>


<script>
    $('.add_product_modal').on('click',function (evt) {
        evt.preventDefault();
        console.log('work i thing')
        $('#modal_area').empty();
        const my_btn = $(this);
        const url = my_btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,

            success: function (data) {
                $('#modal_area').html(data.add_modal);
                $('#quick-view').modal('show');

            }
        })
    })
</script>

<script>
    $('.quick_view_modal').click(function (evt) {
        evt.preventDefault();
        $('#modal_area').empty();
        const my_btn = $(this);
        const url = my_btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,

            success: function (data) {
                $('#modal_area').html(data.result);
                $('#quick_view_modal').modal('show');
            }
        })
    })
</script>

<script type="text/javascript">

    $(window).on('load',function(){
        $('#message_modal').modal('show');
    });
</script>