<!-- header start --> {% load static %}
<!-- header start -->
<header>
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            {% comment %}<li><a style="text-decoration:none;color:#999" href="{% url 'eng:homepage' %}"><img src="{% static 'frontend/flags/en-gb.png' %}" /> English</a> </li> {% endcomment %}
                            <li>Δείτε το κατάστημα μας σε <a target="_blank" style="color: firebrick" href="https://optikakotsalis.360tour.media">360tour</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Καλέστε μας: 2732022566 | 6974415199 </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="header-dropdown">
                         <li class="mobile-account" style="text-decoration:none">
                             <a  style="text-decoration:none;color:#999" href="{% url 'contact_view' %}">
                                 </i>  <span style="font-weight: bold"> Επικοινωνία </span>
                             </a>

                        </li>
                        <li class="mobile-account" style="text-decoration:none">
                            <a style="text-decoration:none;color:#999" href="{% url 'wishlist' %}"><i class="fa fa-heart" aria-hidden="true"></i> wishlist</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                            {% if request.user.email  %}{{ request.user.email }} {% else %} {{ request.user }} {% endif %}

                            <ul class="onhover-show-div">
                                {% if request.user.is_staff %}
                                    <li><a href="{% url 'dashboard:home' %}" data-lng="en">Διαχείριση site</a></li>
                                {% endif %}
                                <li><a href="{% url 'user_profile' %}" data-lng="en">Profile</a></li>
                                <li><a href="{% url 'logout' %}" data-lng="es">Logout</a></li>
                            </ul>
                        </li>
                        {% else  %}
                             <li class="mobile-account"><a data-toggle="modal" data-target="#login_modal">Σύνδεση</a> </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar">
                            <a href="javascript:void(0)" onclick="openNav()">
                                <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                            </a>
                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                <nav>
                                    <div onclick="closeNav()">
                                        <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Επιστροφή</div>
                                    </div>
                                    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                        <li><a target="_blank" href="https://www.facebook.com/optikakotsalis/">Βρειτε μας στο Facebook</a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/optikakotsalis/?hl=el">Βρειτε μας στο Instagram</a></li>
                                        <li><a  href="{% url 'contact_view' %}">Επικοινωνία</a></li>
                                        <li><a target="_blank" href="https://optikakotsalis.360tour.media">360 tour</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo">
                            <a href="{% url 'homepage' %}"><img src="{% static 'frontend/my_assets/logo.png' %}" class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <nav id="main-nav">
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                     <li>
                                        <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                    </li>
                                    {% for category in parent_categories %}
                                    <li class="mega" id="hover-cls">
                                        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                        <ul class="mega-menu full-mega-menu">
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                       {% for cate in category.get_childrens.all %}
                                                        <div class="col mega-box">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>{{ cate.name }}</h5>
                                                                    <a href="{{ cate.get_absolute_url }}">Λεπτομέρειες</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endfor %}
                                    <li> <a href="{% url 'brands_view' %}">Brands</a></li>
                                    <li> <a href="{% url 'offer_view' %}">Προσφορες</a></li>
                                    <li> <a href="{% url 'new_products_view' %}">Νεα Προϊοντα</a></li>
                                    <li> <a href="{% url 'post_list' %}">Blog</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img alt="" src="{% static 'frontend/assets/images/icon/layout4/search.png' %}" onclick="openSearch()" class="img-fluid blur-up lazyload">
                                                <i class="ti-search" onclick="openSearch()"></i>
                                            </div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div> <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form action="{% url 'search_page' %}">
                                                                        <div class="form-group">
                                                                            <input name="search_name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Αναζήτηση">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="onhover-div mobile-cart">
                                            <div><img alt="" src="{% static 'frontend/assets/images/icon/layout4/cart.png' %}" class="img-fluid blur-up lazyload"><i class="ti-shopping-cart"></i></div>
                                            <ul class="show-div shopping-cart">
                                                {% for cart_item in cart.order_items.all %}
                                                <li>
                                                    <div class="media">
                                                        <a href="{{ cart_item.product.get_absolute_url }}">
                                                            <img alt="" class="mr-3"
                                                                    {% if cart_item.product.image %}
                                                                     src="{{ cart_item.product.image.url }}"
                                                                    {% else %}
                                                                        src="{% static 'frontend/demo_images/no_image.png' %}"
                                                                    {% endif %}
                                                            >
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h4>{{ cart_item.product }}</h4>
                                                            </a>
                                                            <h4><span>{{ cart_item.qty }} x {{ cart_item.tag_value }}</span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle"><a href="{% url 'delete_from_cart' cart_item.id %}"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </li>
                                                {% endfor %}

                                                <li>
                                                    <div class="total">
                                                        <h5>Συνολο : <span>{{ cart.tag_final_value|default_if_none:'0.00' }}</span></h5>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="buttons">
                                                        <a href="{% url 'cart_view' %}" class="view-cart">Καλάθι</a> <a href="{% url 'checkout_view' %}" class="checkout">checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="onhover-div mobile-setting">
                                            <div>
                                                <img src="{% static 'frontend/flags/el-gr.png' %}" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-flag-alt"></i>
                                            </div>
                                            <div class="show-div setting">
                                                <h6>language</h6>
                                                <ul>
                                                    <li><a href="{{ eng_url }}"><img src="{% static 'frontend/flags/en-gb.png'  %}" />English</a></li>
                                                    <li><a href="{{ greek_url }}"><img src="{% static 'frontend/flags/el-gr.png' %}" /> Greek</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- header end -->